.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(12, 21, 89)
}

.header-background {
  background-image: url('img/champleague3.jpeg');
  height: 170px;
}
} 

h1 {
  text-align: center;
}

img {
  height: 250px;
  width: 250px;
}

.flex-container p {
  text-align: center;
  line-height: 125px;
}

figcaption {
  text-align: center;
  margin-top: 20px;
}

figcaption a {
  font-size: 28px;
}

