@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/ubuntu.woff');
  font-weight: 300;
  font-style: normal;
}

body {
  width: 100%;
  position: relative;
}

.main {
  max-width: 90%;
  margin: 0 auto;

  &__main-article {
    margin: 0 auto;

    &-img {
      width: 100%;
      display: block;
      margin: 0 auto; 
    }

    &-wrap {
      width: 90%;
      margin: 80px auto;

      &-chapter {
        text-transform: uppercase;
        font-family: 'Ubuntu';
        font-size: 14px;
        color: #b4ad9e;
      }

      &-caption {        
        font-family: 'Playfair Display', serif; 
        font-size: 30px;
        padding: 20px 0 40px 0;  
      }

      &-text {
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        line-height: 2;
        color: #626262;
      }

      &-btn--leave-a-comment {
        margin-top: 40px;
        text-transform: uppercase;
        font-family: 'Ubuntu';
        font-size: 14px;
        color: #b4ad9e;
        background-color: #fff;
      }
    }
  }

  &__articles-list-wrap {
    margin: 0 auto 50px;
    width: 90%;

    .main__articles-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-item {
        width: 40%;
        margin-bottom: 50px;

        &:nth-child(5), &:last-child {
          margin-top: 500px;
        }

        &-container {
          width: 100%;
          margin: 0;

          &-img {
            width: 100%;
            height: 400px;
            object-fit: cover;
          }

          &-chapter {
            text-transform: uppercase;
            font-family: 'Ubuntu';
            font-size: 14px;
            color: #b4ad9e;
            margin: 30px 0;
          }

          &-caption {
            font-family: 'Playfair Display', serif; 
            font-size: 30px;
            padding: 20px 0 40px 0;  
          }

          &-text {
            font-family: 'Playfair Display', serif;
            font-size: 14px;
            line-height: 2;
            color: #626262;  
          }
        }
      }
    }
  }

  &__sign-up {
    width: 100%;
    height: 286px;
    background-color: #f0f0f0;
    position: absolute;
    left: 0;
    top: 3050px;

    .main__form {
      margin: 0 auto;
      height: 286px;
      text-align: center;
      position: relative;

      &-title {
        font-family: 'Playfair Display', serif; 
        font-size: 30px;
        text-align: center;
        padding-top: 75px;

        &::after {
          content: '';
          background: url('../../images/arr.svg');
          background-size: cover;
          height: 18px;
          width: 32px;
          display: block;
          position: absolute;
          top: 192px;
          left: 60%;
        } 
      } 

      &-input {
        margin-top: 75px;
        border-bottom: 1px solid #000;
        width: 399px;
        height: 35px;
        background-color: #f0f0f0;
        font-size: 14px;
        line-height: 24px;
        color: #626262;
        font-family: "Playfair Display";
        font-weight: 400;
      }
    }
  }

  &__btn--load-more {
    width: 100%;
    padding: 165px 0 305px;

    .btn {
      width: 164px;
      height: 60px;
      background-color: #fff;
      border: 1px solid #626262;
      font-size: 20px;
      line-height: 24px;
      color: #626262;
      font-family: "Playfair Display";
      font-weight: 400;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
} 

