@font-face {
  font-family: 'Trebuchet MS Bold';
  src: url(../../fonts/trebuchet-ms-grassetto.ttf);
}

@font-face {
  font-family: 'Futura-bookBT';
  src: url("../../fonts/futura-book-bt-22240.ttf");
}

@font-face {
  font-family: 'futuraBold';
  src: url("../../fonts/Futura-Bold.woff");
}

@font-face {
  font-family: 'Calibri-Bold';
  src: url("../../fonts/calibrib.ttf");
}

.pricing {
  background-color: #fff;
  padding-bottom: 50px;
}

.pricing__title {
  font-family: 'Trebuchet MS Bold';
  text-align: center;
  font-size: 30px;
  color: #41525c;
  text-transform: uppercase;
  padding: 50px 5px;
  margin: 0 auto;
}

.pricing__flex-container {
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__flex-container-item {
  width: 33%;
  padding-bottom: 15px;
}

.pricing .orange-border {
  border: 6px solid #ee8129;
  border-radius: 7px;
}

.pricing__service-package-title {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  color: #fff;
  font-family: 'Trebuchet MS Bold';
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.pricing__service-package-title_blue {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  color: #fff;
  font-family: 'Trebuchet MS Bold';
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #2bc2d5;
  border-radius: 5px;
}

.pricing__service-package-title_orange {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  color: #fff;
  font-family: 'Trebuchet MS Bold';
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee8129;
  border-radius: 1px;
}

.pricing__service-package-title_green {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  color: #fff;
  font-family: 'Trebuchet MS Bold';
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #00b89a;
  border-radius: 5px;
}

.pricing__service-package-wrapper {
  width: 90%;
  margin: 0 auto;
}

.pricing__service-name {
  width: 100%;
  font-family: 'Trebuchet MS Bold';
  font-size: 24px;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
}

.pricing__service-price {
  width: 100%;
  text-align: center;
}

.pricing__service-price sup {
  font-family: 'futuraBold';
  font-size: 18px;
  color: #35495a;
  letter-spacing: -2px;
  text-align: center;
  position: relative;
  top: -40px;
}

.pricing__service-price span {
  font-family: 'futuraBold';
  font-size: 72px;
  color: #35495a;
}

.pricing__service-price sub {
  font-family: 'Futura-bookBT';
  font-size: 18px;
  color: #35495a;
}

.pricing__service-list {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.pricing__service-list-item {
  padding: 5px 10px 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing__service-list .pricing__service-list-item:nth-child(2n + 1) {
  background-color: #e8f2fb;
}

.pricing__service-list .pricing__service-list-item:nth-child(2n) {
  background-color: #f5f5f6;
}

.pricing__service-list-img {
  display: block;
  margin-right: 20px;
}

.pricing__service-list-text {
  color: #888c94;
  font-family: 'Calibri-Bold';
  font-size: 15px;
}

.pricing__service-btn {
  width: 90%;
  height: 40px;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 3px 0px #13426b);
          filter: drop-shadow(0px 3px 0px #13426b);
  background-color: #3070a8;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Futura-bookBT';
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .pricing__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing__flex-container-item {
    width: 60%;
  }
  .pricing__service-list-item {
    padding-left: 20%;
  }
  .pricing .orange-border {
    border: none;
  }
  .pricing__service-package-title_orange {
    border-radius: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .pricing__title {
    font-size: 24px;
    padding: 30px 5px;
  }
  .pricing__flex-container-item {
    width: 90%;
  }
}
/*# sourceMappingURL=pricing.css.map */